{% extends 'admin/change_form.html' %}

{% block submit_buttons_bottom %}
    {{ block.super }}
    <div class="submit-row">
        <input type="submit" value="Approve as low risk" name="approve_po_low_risk">
        <input type="submit" value="Approve as moderate risk" name="approve_po_moderate_risk">
        <input type="submit" value="Approve as high risk" name="approve_po_high_risk">
    </div>
{% endblock %}