{% load static %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{%block title%}QR Code Generator{% endblock title %}</title> 
  <meta name="description" content="PGSOC">
  <meta name="author" content="PGSOC">
  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <!-- Include Choices CSS -->
  <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css"
/>
</head>
<body>

  
  <div class="container">
    <div class="sticky-top">

      <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'dashboard'%}">
            <img src="{% static 'images/pgsoc_logo.jpg'%}" alt="" width="30" height="24" class="d-inline-block align-text-top">
            PGS Organic Council
          </a>
        </div>
      </nav>
    </div>
    {% block content %}
    
    {% endblock %}
</div>


<!-- Include Choices JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>

{% block javascript %}

{% endblock javascript %}
</body>
</html>