{% extends '_base.html' %}

{% block title %} Add Product {% endblock title %}

{% block content %}


<form class="row g-3" method="post" action=".">

    {% csrf_token %}
    <div class="col-md-12">
        <h4>Product Details </h4>
        <hr/>
        <br/>
    </div>

    <div class="col-12">
        <label for="productType" class="form-label">Product Type</label>
        <select class="form-select" required name="producttype" id="producttype" required>
            <option value="">Select type of product type</option>
        </select>
    </div>

    <div class="col-6">
        <label for="product" class="form-label">Select existing product</label>
        <select class="form-select" name="product" id="product">
            <option value="">Select type of product type</option>
        </select>
    </div>
    <div class="col-6">
        <label for="product_text" class="form-label">Add new product</label>
        <input type="text" class="form-control" id="product_text" aria-describedby="product_text_help" name="product_text">
        <div id="product_text_help" class="form-text">Use this box to add product if not already exists.</div>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>


{% endblock content %}


{% block javascript %}
<script>

const typeelement = document.getElementById("producttype")
const typechoices = new Choices(typeelement, {
    choices : [{% for p in product_types %}
                {
                label: "{{p.name}}",
                value: "{{p.uuid}}"
                },
            {% endfor %}],
    searchEnabled: true,
    searchChoices: true,
    searchFields: ['label',],
        
})
    


const element = document.getElementById("product")
const choices = new Choices(element, {
  choices : [{% for p in products %}
              {
                label: "{{p.name}}",
                value: "{{p.uuid}}"
              },
            {% endfor %}],
  searchEnabled: true,
  searchChoices: true,
  searchFields: ['label',],
        
})
</script>
{% endblock javascript%}