{% extends '_base.html' %}
{%block title%} Dashboard {% endblock %}

{% block content %}

<div class="row">
  <div class="col-6">
    List of PO's under {{fc.name}}   <a href="{% url 'onboard_po' fc_code=fc.uuid %}"> Onboard PO </a>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#Code </th>
            <th scope="col">PO Name</th>
            <th scope="col">Risk Category</th>
            <th scope="col">Approved</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
            {% for p in po %}
          <tr>
            <th scope="row">{{p.po_code}}</th>
            <td>{{p.name}}</td>
            <td>{{p.get_risk_category_display}}</td>
            <td>{{p.is_approved}}</td>
            <td><a href="{% url 'view_po' po_code=p.uuid%}">View </a> </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

    </div>


    
    <div class="col-6">
      List of LG's under {{fc.name}}   <a href="{% url 'onboard_lg' fc_code=fc.uuid %}"> Onboard LG </a>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#Code </th>
            <th scope="col">LG Name</th>
            <th scope="col">No of Farmers</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
            {% for lg in fc_lg %}
          <tr>
            <th scope="row">{{lg.LG_code}}</th>
            <td>{{lg.name}}</td>
            <td>{{lg.no_of_farmers}}</td>
            <td><a href="{%url 'view_lg' lg_code=lg.uuid%}">View </a> </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>



{% endblock content %}