{% extends '_base.html' %}

{% block title%} LG Details : {{lg.name}} {% endblock title %}

{% block content %}

 Name: {{lg.name}}
 <br />
 LG Code : {{lg.LG_code}}
 <br />
 Certification Status : {% if lg_status %} {% if lg_status.is_approved is True %} {{lg_status.certification_id}} {% else %} Pending Approval {% endif %} {% else %} <form action={% url 'view_lg' lg_code=lg.uuid %} method="POST"> {% csrf_token %} <button class="btn btn-primary btn-sm " href="#" role="button"> Apply for Certification </button> </form> {% endif %}
 <br />
 Convener : {{lg.convener.name}} ({{lg.convener.contact}})
 <br/>
 Farmers:
 <br/>
    <a href="{% url 'add_lg_farmer' lg_code=lg.uuid %}"> Add farmer </a>

 <table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Contact</th>
      </tr>
    </thead>
    <tbody>
        {% for farmer in lg.associated_farmers.all %}
      <tr>
        <td>{{farmer.name}}</td>
        <td>{{farmer.contact}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  Add Products:
  <br />
  <a href="{% url 'add_lg_product' lg_code=lg.uuid %}"> Add Products</a>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Contact</th>
        <th scope="col"> </th>
      </tr>
    </thead>
    <tbody>
        {% for product in lg.products.all %}
      <tr>
        <td>{{product.name}}</td>
        <td>{{product.product_type}}</td>
        <td> {% if lg_status and product in lg_status.products.all %}<a href="{%url 'product_lg_details' lg_certification_code=lg_status.certification_id%}"> View </a> {%elif lg_status %} <form action="{% url 'add_lg_product_to_certification' lg_certification_code=lg_status.certification_id product_code=product.uuid %}"> {% csrf_token %} <button class="btn btn-primary btn-sm " role="button"> Add to certification </button> {% else %} Certification not issued. Apply for certification first{% endif %}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock content %}
