{% extends '_base.html' %}
{% load static %}
  

{% block content %}
  <div class="container text-center">
    <div class="row">
      <div class="col-1">
        
      </div>
      <div class="col-4">
          <img src="/{{lgc.qr_code}}" />
          {% if request.user.is_authenticated %}
            <a href="/{{lgc.qr_code}}"> Download QR Code </a>
          {% endif %}
        </div>
      <div class="col-6">
        <table class="table">
          <tbody class="gap-5">
            <tr>
              <th scope="row">Certification ID:</th>
              <td> {{lgc.certification_id}} </td>
            </tr>
            <tr>
              <th scope="row">Group code :</th>
              <td> {{lgc.lg.LG_code}} </td>
            </tr>
            <tr>
              <th scope="row">Location</th>
              <td> {{lgc.lg.village}}, {{lgc.lg.district}}, {{lgc.lg.state}}  </td>
            </tr>
            <tr>
              <th scope="row">No of Farmers</th>
              <td> {{lgc.lg.no_of_farmers}}</td>
            </tr>
            <tr>
              <th scope="row">Certificated on</th>
              <td> {{lgc.certification_start_date}}  </td>
            </tr>
            <tr>
              <th scope="row">Certificated till</th>
              <td> 
                {{lgc.certification_end_date}}*  
                <div class="alert alert-warning small"> *For product expiry date, please check the product packaging. </div>
              </td>
              
            </tr>
            <tr>
              <th scope="row">Certified crops / products</th>
              <td> 
                  {% for  product in lgc.products.all %} 
                    {% if forloop.last %}
                      {{ product.name }}
                    {% else %}
                      {{ product.name }},
                    {% endif %}
                  {% endfor %}  
              </td>
            </tr>
            {% comment %} <tr> 
              <th scope="row"> Growing environment </th>

              <td> 
                  {% if lgc.lg.agro_ecological_zone and lgc.lg.agro_climatic_zone  %}
                    {{lgc.lg.agro_ecological_zone}} and {{lgc.lg.agro_climatic_zone}} 
                  {% elif lgc.lg.agro_ecological_zone %}
                    {{lgc.lg.agro_ecological_zone}}
                  {% elif lgc.lg.agro_climatic_zone %}
                    {{lgc.lg.agro_climatic_zone}}
                  {% else %}
                    <div class="alert alert-warning small"> This information is currently unavailable. </div>
                  {% endif %}
              </td>
              </td>
            </tr> {% endcomment %}
          </tbody>
        </table>
      </div>
      <div class="col-1">
        
      </div>
    </div>
  </div>
</div>

{% endblock content %}
