{% extends '_base.html' %}

{% block title %} Login {% endblock %}

{% block content %}

<form method="POST">
    {% csrf_token %}
    <div class="row mb-3">
      <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="inputEmail3" name="username">
      </div>
    </div>
    <div class="row mb-3">
      <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" id="inputPassword3" name="password">
      </div>
    </div>

    <button type="submit" class="btn btn-primary">Sign in</button>
  </form>

  {% endblock content %}