{% extends '_base.html' %}

{% block title %} Onboaring FC {% endblock title %}

{% block content %}


<form class="row g-3" method="post">

    {% csrf_token %}
    <div class="col-md-12">
        <h4>Organization Details </h4>
        <hr/>
        <br/>
    </div>

    <div class="col-md-6">
        <label for="inputOrganizationName" class="form-label">Organization Name</label>
        <input type="text" class="form-control" id="inputOrganizationName" required name="organization_name">
      </div>
      <div class="col-md-6">
        <label for="inputOrganizationRegistrationNumber" class="form-label">Organization Registration Number</label>
        <input type="text" class="form-control" id="inputOrganizationRegistrationNumber" required name="organization_reg_no">
      </div>
      <div class="col-md-6">
        <label for="inputFSSAILicenseNumber" class="form-label">FSSAI License No</label>
        <input type="text" class="form-control" id="inputFSSAILicenseNumber" required name="fssai_license_no">
      </div>
      <div class="col-md-6">
          <label for="inputOrganizationType" class="form-label">Organization Type</label>
          <select id="inputOrganizationType" class="form-select" required name="org_type">
              <option value="coop">Co-Operative</option>
              <option value="FPO">Farmer Producer Organization</option>
              <option value="SHG">SelfHelp Group</option>
              <option value="PG">Producer Group</option>
              <option value="RME">Repacker and Marketing Entity</option>
          </select>
      </div>
      <div class="col-6">
        <label for="inputAddress" class="form-label">Full address (for internal records)</label>
        <input type="text" class="form-control" id="inputAddress" placeholder="Address with pincode" required name="postal_address">
      </div>
  
      <div class="col-6">
        <label for="inputCity" class="form-label">District</label>
        <select id="inputCity" class="form-select" required name="location" id="location">
          <option value="">Select district you are located in</option>
        </select>
      </div>
  
      <div class="col-md-6">
          <label for="inputContactWebsite" class="form-label">Website</label>
          <input type="text" class="form-control" id="inputContactWebsite" required name="website">
      </div>
      <div class="col-md-6">
          <label for="inputContactEmail" class="form-label">Contact email</label>
          <input type="email" class="form-control" id="inputContactEmail" required name="contact_email">
      </div>

    <div class="col-md-12">
        <h4>Personal details </h4>
        <hr/>
        <br/>
    </div>

    <div class="col-md-6">
        <label for="inputLoginRepresentativeName" class="form-label">Name</label>
        <input type="text" class="form-control" id="inputLoginRepresentativeName" required name="user_name">
    </div>
    <div class="col-md-6">
        <label for="inputLoginRepresentativeContact" class="form-label">Mobile/Contact</label>
        <input type="text" class="form-control" id="inputLoginRepresentativeContact" required name="user_contact">
    </div>
    <div class="col-md-6">
        <label for="inputLoginRepresentativeEmail" class="form-label">Email</label>
        <input type="email" class="form-control" id="inputLoginRepresentativeEmail" aria-labelledby="usernameHelpBlock" required name="user_email">
        <div id="usernameHelpBlock" class="form-text">
            Your email will act as your username
          </div>
    </div>
    <div class="col-md-6">
        <label for="inputPassword5" class="form-label">Password</label>
        <input type="password" id="inputPassword5" class="form-control" aria-labelledby="passwordHelpBlock" required  name="user_password">
        <div id="passwordHelpBlock" class="form-text">
            Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special characters, or emoji.
        </div>
    </div>

    <div class="col-12">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
        <label class="form-check-label" for="invalidCheck">
          I acknowledge that the details submitted are correct and verified.
        </label>
        <div class="invalid-feedback">
          You must agree before submitting.
        </div>
      </div>
    </div>


    <button type="submit" class="btn btn-primary"> OnBoard PO </button>

</form>

{% endblock content %}


{% block javascript %}
<script>
const element = document.getElementById("inputCity")
const choices = new Choices(element, {
  choices : [{% for city in cities %}
              {
                label: "{{city.display_name}}",
                value: "{{city.id}}"
              },
            {% endfor %}],
  items:[],
  searchEnabled: true,
  searchChoices: true,
  searchFields: ['label',],
  placeholder: true,
  placeholderValue: "Select district you are located in",
  noChoicesText: 'Location not found. Please use the district name to find',
        
})
</script>

{% endblock javascript%}