{% extends '_base.html' %}

{% block title %} Onboaring FC {% endblock title %}

{% block content %}


<form class="row g-3" method="post">

    {% csrf_token %}
    <div class="col-md-12">
        <h4>LG Details </h4>
        <hr/>
        <br/>
    </div>

    <div class="col-md-12">
      <label for="inputOrganizationName" class="form-label">LG Name</label>
      <input type="text" class="form-control" id="inputOrganizationName" required name="lg_name">
    </div>
    <div class="col-md-4">
      <label for="inputVillage" class="form-label">Village</label>
      <input type="text" class="form-control" id="inputVillage" required name="village">
    </div>
    <div class="col-md-4">
        <label for="inputDistrict" class="form-label">District</label>
        <input type="text" class="form-control" id="inputDistrict" required name="district">
    </div>
    <div class="col-md-4">
        <label for="inputState" class="form-label">State</label>
        <input type="text" class="form-control" id="inputState" required name="state">
    </div>
    <div class="col-md-12">
        <h4>Convener Details </h4>
        <hr/>
        <br/>
    </div>

    <div class="col-md-6">
        <label for="inputConvenerName" class="form-label">Convener Name</label>
        <input type="text" class="form-control" id="inputConvenerName" required name="convener_name">
      </div>
      <div class="col-md-6">
        <label for="inputConvenerContact" class="form-label">Contact</label>
        <input type="text" class="form-control" id="inputConvenerContact" required name="convener_contact">
      </div>

    <button type="submit" class="btn btn-primary"> Create LG </button>

</form>

{% endblock content %}