{% extends '_base.html' %}

{% block title %} Onboaring Farmer {% endblock title %}

{% block content %}


<form class="row g-3" method="post">

    {% csrf_token %}
    <div class="col-md-12">
        <h4>Farmer Details </h4>
        <hr/>
        <br/>
    </div>

    <div class="col-md-6">
        <label for="inputConvenerName" class="form-label">Farmer Name</label>
        <input type="text" class="form-control" id="inputConvenerName" required name="farmer_name">
      </div>
      <div class="col-md-6">
        <label for="inputConvenerContact" class="form-label">Contact</label>
        <input type="text" class="form-control" id="inputConvenerContact" required name="farmer_contact">
      </div>

    <button type="submit" class="btn btn-primary"> Add Farmer </button>

</form>

{% endblock content %}