{% extends '_base.html' %}

{% block title %} Onboaring FC {% endblock title %}

{% block content %}

<form class="row g-3 mt-2" method="post"  enctype="multipart/form-data" >

    {% csrf_token %}

    <div class="col-md-12">
        <h4>Organization Details </h4>
        <hr/>
        <br/>
    </div>

    <div class="col-md-6">
      <label for="inputOrganizationName" class="form-label">Organization Name</label>
      <input type="text" class="form-control" id="inputOrganizationName" required name="organization_name">
    </div>
    <div class="col-md-6">
      <label for="inputOrganizationRegistrationNumber" class="form-label">Organization Registration Number</label>
      <input type="text" class="form-control" id="inputOrganizationRegistrationNumber" required name="organization_reg_no">
    </div>
    <div class="col-md-6">
        <label for="inputOrganizationType" class="form-label">Organization Type</label>
        <select id="inputOrganizationType" class="form-select" required name="org_type">
            <option value="society">Society</option>
            <option value="trust">Trust</option>
            <option value="company">Company</option>
        </select>
    </div>
    <div class="col-md-6">
      <label for="inputMembershipType" class="form-label">Membership Type</label>
      <select id="inputMembershipType" class="form-select" required name="membership_type">
          <option value="Institutional">Institutional Member</option>
          <option value="Associate">Associate Member</option>
      </select>
  </div>
    <div class="col-6">
      <label for="inputAddress" class="form-label">Address</label>
      <input type="text" class="form-control" id="inputAddress" placeholder="Address with pincode" required name="postal_address">
    </div>

    <div class="col-6">
      <label for="inputCity" class="form-label">District</label>
      <select id="inputCity" class="form-select" required name="location" id="location">
        <option value="">Select district you are located in</option>
      </select>
    </div>

    <div class="col-md-6">
        <label for="inputContactWebsite" class="form-label">Website</label>
        <input type="text" class="form-control" id="inputContactWebsite" required name="website">
    </div>
    <div class="col-md-6">
        <label for="inputContactEmail" class="form-label">Contact email</label>
        <input type="email" class="form-control" id="inputContactEmail" required name="contact_email">
    </div>

    <div class="col-md-6">
      <label for="inputRegistrationDocument" class="form-label">Registration Document</label>
      <input type="file" class="form-control" id="inputRegistrationDocument" required name="registration_document" accept=".pdf">
      <div id="registrationDocumentHelpBlock" class="form-text">
        Upload a single PDF file of your organization registration document
      </div>
    </div>
  <div class="col-md-6">
    <label for="inputByLaws" class="form-label">ByLaws</label>
    <input type="file" class="form-control" id="inputByLaws" required name="bylaws" accept=".pdf">
    <div id="bylawsHelpBlock" class="form-text">
      Upload organization ByLaws as a single PDF file
    </div>
  </div>
  <div class="col-md-6">
    <label for="inputAnnualAudit" class="form-label">Last 3 year Annual Audit</label>
    <input type="file" multiple class="form-control" id="inputAnnualAudit" required name="annual_audit"  accept=".pdf, .xls, .xlsx,.ods">
    <div id="annualAuditHelpBlock" class="form-text">
      Upload 3 files 
    </div>
  </div>
  <div class="col-md-6">
    <label for="inputRecommendation" class="form-label">Recommendation Letters</label>
    <input ref="fileInput" type="file" multiple type="file" class="form-control" id="inputRecommendation" required name="recommendation_letter" accept=".pdf, .xls, .xlsx,.ods">
    <div id="recommendationLetterHelpBlock" class="form-text">
      Upload 2 recommendation letter from FC's who are already in PGSOC
    </div>  
  </div>


    <div class="col-md-12">
        <h4>User Details </h4>
        <hr/>
        <br/>
    </div>

    <div class="col-md-12">
        <h5>Legal Representative </h5>
        <hr/>
        <br/>
    </div>
    <div class="col-md-4">
        <label for="inputLegalRepresentativeName" class="form-label">Name</label>
        <input type="text" class="form-control" id="inputLegalRepresentativeName" required name="legal_name">
    </div>
    <div class="col-md-4">
        <label for="inputLegalRepresentativeContact" class="form-label">Mobile/Contact</label>
        <input type="text" class="form-control" id="inputLegalRepresentativeContact" required name="legal_contact">
    </div>
    <div class="col-md-4">
        <label for="inputLegalRepresentativeEmail" class="form-label">Email</label>
        <input type="email" class="form-control" id="inputLegalRepresentativeEmail" required name="legal_email">
    </div>

    <div class="col-md-12">
        <h5>Login User </h5>
        <strong> This is the user who can login on behalf of FC </strong>
        <hr/>
        <br/>
    </div>
    <div class="col-md-6">
        <label for="inputLoginRepresentativeName" class="form-label">Name</label>
        <input type="text" class="form-control" id="inputLoginRepresentativeName" required name="user_name">
    </div>
    <div class="col-md-6">
        <label for="inputLoginRepresentativeContact" class="form-label">Mobile/Contact</label>
        <input type="text" class="form-control" id="inputLoginRepresentativeContact" required name="user_contact">
    </div>
    <div class="col-md-6">
        <label for="inputLoginRepresentativeEmail" class="form-label">Email</label>
        <input type="email" class="form-control" id="inputLoginRepresentativeEmail" aria-labelledby="usernameHelpBlock" required name="user_email">
        <div id="usernameHelpBlock" class="form-text">
            Your email will act as your username
          </div>
    </div>
    <div class="col-md-6">
        <label for="inputPassword5" class="form-label">Password</label>
        <input type="password" id="inputPassword5" class="form-control" aria-labelledby="passwordHelpBlock" required  name="user_password">
        <div id="passwordHelpBlock" class="form-text">
            Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special characters, or emoji.
        </div>
    </div>

    <div class="col-12">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
        <label class="form-check-label" for="invalidCheck">
          Agree to terms and conditions
        </label>
        <div class="invalid-feedback">
          You must agree before submitting.
        </div>
      </div>
    </div>

    <div class="col-12">
      <button type="submit" class="btn btn-primary btn-block">Register</button>
    </div>
  </form>


{% endblock %}

{% block javascript %}
<script>
const element = document.getElementById("inputCity")
const choices = new Choices(element, {
  choices : [{% for city in cities %}
              {
                label: "{{city.display_name}}",
                value: "{{city.id}}"
              },
            {% endfor %}],
  items:[],
  searchEnabled: true,
  searchChoices: true,
  searchFields: ['label',],
  placeholder: true,
  placeholderValue: "Select district you are located in",
  noChoicesText: 'Location not found. Please use the district name to find',
        
})
</script>

{% endblock javascript%}