{% extends '_base.html' %}
{%block title%} Dashboard {% endblock %}

{% block content %}

{{po.name}}
<br />

List of Products  or <a href="{% url 'add_po_product' po_code=po.uuid %}"> Add Product </a>

<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Product Name</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
        {% for product in po.products.all %}
      <tr>
        <th scope="row">{{forloop.counter}}</th>
        <td>{{product.name}}</td>
        {% comment %} <td><a href="{% url 'product_po_details' po_code=po.uuid product_code=product.uuid %}">View </a> </td> {% endcomment %}
      </tr>
      {% endfor %}
    </tbody>
  </table>



{% endblock content %}