{% extends '_base.html' %}
{%block title%} {{poc.lg.name}} {% endblock %}

{% block content %}


<div class="container">
    <div class="row">
        <div class="col-lg-1">
        
        </div>

        <div class="col-lg-5 col-sm-12 col-md-12">
            <img class="img-fluid" src="/{{poc.qr_code}}" />
            <br />
            {% if request.user.is_authenticated and poc.qr_code  %}
            <a href="/{{poc.qr_code}}"> Download QR Code </a>
            {% endif %}
        </div>
      
        <div class="col-lg-5 col-sm-12 col-md-12">
        <table class="table">
          <tbody class="gap-5">
            <tr>
              <th scope="row">Certification ID:</th>
              <td> {{poc.certification_id}} </td>
            </tr>
            <tr>
              <th scope="row">Certification Status:</th>
              <td> {% if poc.is_approved %} Certificate Valid {% else %} This Certification is invalid or not certified yet {% endif %}</td>
            </tr>
            <tr>
              <th scope="row">Organization:</th>
              <td> {{poc.po.name}} </td>
            </tr>
            <tr>
              <th scope="row">Organization type:</th>
              <td> {{poc.po.get_org_type_display}} </td>
            </tr>
            <tr>
              <th scope="row">Location</th>
              <td> {{poc.po.city}}</td>
            </tr>

            <tr>
              <th scope="row">Certificated on</th>
              <td> {{poc.certification_start_date|default_if_none:"Not apply for certification"}}  </td>
            </tr>
            <tr>
              <th scope="row">Certificated till</th>
              <td> 
                {{poc.certification_end_date}}*  
                <div class="alert alert-warning small"> *For product expiry date, please check the product packaging. </div>
              </td>
              
            </tr>
            <tr>
              <th scope="row">Certified products</th>
              <td> 
                  {% for  product in poc.products.all %} 
                    {% if forloop.last %}
                      {{ product.name }}
                    {% else %}
                      {{ product.name }},
                    {% endif %}
                  {% endfor %}  
              </td>
            </tr>
            <tr>
              <th scope="row">Facilitating Council:</th>
              <td> {{poc.po.fc.name}} </td>
            </tr>
            {% comment %} <tr> 
              <th scope="row"> Growing environment </th>

              <td> 
                  {% if poc.lg.agro_ecological_zone and poc.lg.agro_climatic_zone  %}
                    {{poc.lg.agro_ecological_zone}} and {{poc.lg.agro_climatic_zone}} 
                  {% elif poc.lg.agro_ecological_zone %}
                    {{poc.lg.agro_ecological_zone}}
                  {% elif poc.lg.agro_climatic_zone %}
                    {{poc.lg.agro_climatic_zone}}
                  {% else %}
                    <div class="alert alert-warning small"> This information is currently unavailable. </div>
                  {% endif %}
              </td>
              </td>
            </tr> {% endcomment %}
          </tbody>
        </table>
      </div>
      <div class="col-lg-1">
        
      </div>
    </div>
  </div>
  

</div>



{% endblock content %}