{% extends '_base.html' %}
{%block title%} {{poc.lg.name}} {% endblock %}

{% block content %}


<div class="text-center">
    <div class="row">
        <div class="col-1">
        
        </div>

        <div class="col-4">
            <img src="/{{poc.qr_code}}" />
            {% if request.user.is_authenticated and poc.qr_code  %}
            <a href="/{{poc.qr_code}}"> Download QR Code </a>
            {% endif %}
        </div>
      
        <div class="col-6">
        <table class="table">
          <tbody class="gap-5">
            <tr>
              <th scope="row">Certification ID:</th>
              <td> {{poc.certification_id}} </td>
            </tr>

            <tr>
              <th scope="row">Location</th>
              <td> {{poc.po.location}}</td>
            </tr>

            <tr>
              <th scope="row">Certificated on</th>
              <td> {{poc.certification_start_date|default_if_none:"Not apply for certification"}}  </td>
            </tr>
            <tr>
              <th scope="row">Certificated till</th>
              <td> 
                {{poc.certification_end_date}}*  
                <div class="alert alert-warning small"> *For product expiry date, please check the product packaging. </div>
              </td>
              
            </tr>
            <tr>
              <th scope="row">Certified products</th>
              <td> 
                  {% for  product in poc.po.products.all %} 
                    {% if forloop.last %}
                      {{ product.name }}
                    {% else %}
                      {{ product.name }},
                    {% endif %}
                  {% endfor %}  
              </td>
            </tr>
            {% comment %} <tr> 
              <th scope="row"> Growing environment </th>

              <td> 
                  {% if poc.lg.agro_ecological_zone and poc.lg.agro_climatic_zone  %}
                    {{poc.lg.agro_ecological_zone}} and {{poc.lg.agro_climatic_zone}} 
                  {% elif poc.lg.agro_ecological_zone %}
                    {{poc.lg.agro_ecological_zone}}
                  {% elif poc.lg.agro_climatic_zone %}
                    {{poc.lg.agro_climatic_zone}}
                  {% else %}
                    <div class="alert alert-warning small"> This information is currently unavailable. </div>
                  {% endif %}
              </td>
              </td>
            </tr> {% endcomment %}
          </tbody>
        </table>
      </div>
      <div class="col-1">
        
      </div>
    </div>
  </div>
  

</div>



{% endblock content %}