{% extends '_base.html' %}

{% block title%}PO Details : {{po.name}} {% endblock title %}

{% block content %}

 Name: {{po.name}}
 <br />
 LG Code : {{po.LG_code}}
 <br />
 Certification Status : {% if po_status %} {% if po_status.is_approved is True %} {{po_status.certification_id}} {% else %} Pending Approval {% endif %} {% else %} <form action={% url 'view_po' po_code=po.uuid %} method="POST"> {% csrf_token %} <button class="btn btn-primary btn-sm " href="#" role="button"> Apply for Certification </button> </form> {% endif %}
 <br />

  Add Products:
  <br />
  <a href="{% url 'add_po_product' po_code=po.uuid %}"> Add Products</a>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Type</th>
        <th scope="col"> </th>
      </tr>
    </thead>
    <tbody>
        {% for product in po.products.all %}
      <tr>
        <td>{{product.name}}</td>
        <td>{{product.product_type}}</td>
        <td> {% if po_status and product in po_status.products.all %}<a href="{%url 'product_po_details' po_certification_code=po_status.certification_id%}"> View </a> {%elif po_status %} <form action="{% url 'add_po_product_to_certification' po_certification_code=po_status.certification_id product_code=product.uuid %}"> {% csrf_token %} <button class="btn btn-primary btn-sm " role="button"> Add to certification </button> {% else %} Certification not issued. Apply for certification first{% endif %}</td>

      </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock content %}
